.dropdown-container {
  align-items: center;
  background: #464979;
  border-radius: 50px;
  display: flex;
  height: 90.65px;
  min-height: 90.65px;
  margin: 0px 78px 50px 69px;
  padding-left: 46px;
  padding-right: 36px;
  position: relative;
}

.dropdown {
  appearance: none;
  background: #464979;
  border-radius: 50px;
  border: none;
  color: #ffffff6b;
  font-size: 36px;
  height: 100%;
  outline: none;
  width: 100%;
}

.dropdown > option {
  color: #ffffff;
}

.dropdown-image {
  pointer-events: none;
  position: absolute;
  right: 36px;
}
