.tab-container {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #1c1e42;
}

.tab-title {
  cursor: pointer;
  font-size: 36px;
  text-align: center;
  padding-bottom: 22px;
  margin-top: 38px;
  width: 50%;
}

.tab-active {
  color: #97ce4c;
  border-bottom: 3px solid #97ce4c;
}

.tab-inactive {
  color: #ffffffbf;
}
