.header-container {
  margin-top: 70px;
  margin-left: 70px;
}

.header-title {
  font-weight: bold;
  font-size: 72px;
  color: #ffffff;
}

.header-subtitle {
  font-weight: 500;
  font-size: 32px;
  color: #97ce4c;
}
